<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NotesApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <style>body {
        padding-top: 50px;
    }</style>
</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{/logout}"><span th:text="#{logout}"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h2 th:text="#{error}"></h2>
        <h4><span th:text="#{error.prefix}"></span>:
            <span th:text="${error}"></span></h4>
    </div>
</div>
</body>
</html>